<%-include("../layouts/header", {title: 'list'}) %>
<%-include("../partials/navigation") %>


<div class="container p-4">
    <div class="row">
        <% if(links.length <= 0){ %>
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p>There are not links saved yet</p>
                    <a href="/links/add">Create One now !</a>
                </div>
            </div>
        <% } %>
        <% for(i of links){ %>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <a target="_blank" href="<%= i.url %>">
                            <h3 class="card-title text-uppercase"><%= i.title %></h3>
                        </a>
                        <p class="m-2"><%= i.description %></p>
                        <p><%= timeago.format(i.created_at) %></p>
                        <a href="/links/delete/<%= i.id %>" class="btn btn-danger">Delete Link</a>
                        <a href="/links/edit/<%= i.id %>" class="btn btn-secondary">Edit</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<%-include("../layouts/footer") %>   